.product-banner{
    background: url(../images/products-page/product-banner.svg);
    padding: 100px 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.product-banner1{
    background: url(../images/about/about-main.png);
    padding: 100px 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.product-bg1 {
    background: linear-gradient( 
32.8deg
 , rgb(7, 7, 7) 50%, rgba(2, 1, 1, 0.9) 50%);
    height: 23rem;
    padding: 150px 50px;
}
.product-bg2 {
    background: linear-gradient( 
32.8deg
 , rgb(227, 227, 227,1) 50%, rgba(239, 239, 239, 1) 50%);
    height: 23rem;
    padding: 150px 50px;
}
.buy-button{
    margin-top: 100px;
    text-align: center;
}
.product-title{
    text-align: center;
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 40px;
}
.product-section{
    margin-bottom: 80px;
}
.bg-black{
    background: #090c11;
    color: #c0c0c2;
    padding: 80px 100px;
}
.bg-black p{
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 20px;
}
.bg-black h4{
    font-size: 27px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 50px;
}
.px-5 .container-fluid{
  width: 85%;
}